@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --black:#000;
    --white:#fff;
    --font-family: "Poppins", Arial, Helvetica, sans-serif;
    --padding-container: 100px 0;
    --primary-color: #001A49;
}

body{
    font-family: var(--font-family);
    font-size: 10px;
}

.container{
    font-size: 1.2rem;
    width: 90%;
    max-width: 1200px; /*para que sexa un tama침o similar ao do portatil*/
    margin: 0 auto; /*fai que este centrado na pantalla do browser*/
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: var(--white);
}

.hero::before{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #000000ad 0%, #000000ad 100%), url('../img/computer.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/*Navegaci칩n*/

nav{
   --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title{
    font-weight: 300;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items{
    list-style: none;
    padding: 1rem;
    border-radius: 20px;
}

.nav__items:hover{
    background-color:#2090f97c;
}

.nav__links{
    color: var(--white);
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none);
}


/*Hero container*/
.hero2{ /*navbar do contacto e acercade*/
    background-color: #1d293f;
    color: var(--white);
    height: 5rem;
    
}

.hero__container{
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title{
    font-size: 3rem;
}

.hero__paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
}

.cta{
    display: inline-block;
    background-color: #2091f9;
    justify-self: center;
    color: var(--white);
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

.cta:hover{
   background-color:  #21619c;
}

/*About section*/
.about{
    text-align: center;
}

.subtitle{
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__title{
    padding-block-start: 0;
    padding-block-end: 0;
    margin-bottom: 0;
    line-height: 1;
}

.about__paragraph{
    line-height: 1.7;
}

.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon{
    width: 60px;
}

/*Knowledge*/
.knowledge{
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px transparent 0.5px), radial-gradient(#444cf7 0.5px #e5e5f6 0.5px);
    background-size: 20px 20px;
    background-position:0 0, 10px 10px;
    overflow: hidden;
}


.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    align-items: center;
    margin-bottom:20px;
    padding: 2rem;
}

.knowledge__container2{ /*container de acercade*/
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    gap:0;
}



.knowledge__picture{
    max-width: 500px;
    margin-left:2rem;
}

.knowledge__img{
    width: 100%;
    display: block;
    border-radius: 15px;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

/*Price*/
.price{
    text-align: center;
}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap:2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price__element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding:40px;
    --color-plan: #686871;
    --color-price: #1d293f;
    --bg-cta: var(--white);
    --color-cta: #5454d4;
    --color-items: #686871;
}

.price__element:hover{
    background-color:#e2a054b9;
}

.price__main{
    padding-bottom: 1rem;
}


.price__element--best{
    color:var(--white);
    width: 370px;
    padding: 60px 40px;
    background-color: #ff7143;
    --color-plan: rgb(255 255 255 / 75%);
    --color-price: var(--white);
    --bg-cta: #9f3919;
    --color-cta: var(--white);
    --color-items: var(--white);
}

.price__element--best:hover{
     color: var(--black);
}

.price__name{
    color:var(--color-plan);
    margin-bottom: 1px;
    font-weight: 300;
}

.price__price{
    color: var(--color-price);
    font-size: 2.5rem;
}

.price__price{
     color: var(--black);
}

.price__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.price__items:hover{
     color: var(--black);
}

.price__cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 3px rgba(0,0,3, .5);
}

/*Testimony*/
.testimony{
    background-color: #e5e5f7;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: #4169e1;
    color: var(--white);
    display: inline-block;
    padding: 5px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}

/*Questions*/
.questions{
    text-align: center;
}

.questions__container{
    display: grid;
    gap: 2em;
    padding: 50px 0 100px 0;
}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454d4;
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 30px;
}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;
    
}

.questions__title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0;
    cursor:pointer;
    color: var(--primary-color);
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    background-color: var(--primary-color);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left:10px;
    transition: transform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions__img{
    display: block;
}

.questions__copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/*footer*/
.footer{
    background-color: #1d293f;
}

.footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: var(--white);
}

.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--white);
    padding-bottom: 60px;
}

.nav--footer{
    margin-top: 2rem;
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: now;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
    color: var(--white);
}


.footer__inputs{
    margin-top: 1rem;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: var(--white);
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #2091f9;
    border: none;
    font-size: 1rem;
    color: var(--white);
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: var(--white);
}

.footer__copyright{
    font-weight: 600;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
}

@media (max-width:800px){/*tama침o tablet hacia abaixo*/
    .nav__menu{
        width: 30px;
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: var(--black);
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: opacity .7s;
    }

    .nav__link--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top:30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title{
        font-size: 2.5rem;
    }

    .about__main{
        gap:2em;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }

    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap:3em;
        justify-items: center;
    }

    .testimony__img{
        width: 200px;
        height: 200px;
    }

    .questions__copy{
        width: 100%;
    }
    /*footer*/
    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center; 
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin:0;
    }

    .footer__form{
        justify-content: space-evenly;
    }

    .footer__input{
        flex:1;
    }
}

@media (max-width:600px){/*tablet peque침a*/
    .hero__title{
        font-size: 2rem;
    }

    .hero__paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }

    .price__element{
        width: 90%;
    }

    .price__element--best{
        width: 90%;
        /*padding:40px*/
    }

    .price__price{
        font-size: 2rem;
    }

    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: 100%;
    }

    .testimony__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 15px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
        /*margin-right:0;
        width:100%;*/
    }
}

/*Contact page*/
.contact__all{
    background-image: linear-gradient(180deg, #000000ad 0%, #000000ad 100%), url('../img/computer.jpg');
    color: var(--white);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.contact{
   width: 100%;
   justify-content: space-evenly;
   display: flex;
   flex-wrap: wrap;
   color: var(--white);
}

.contact__presentation{
    width: 500px;
    padding: 4rem;
    font-size: .8rem;
    margin-top: 1rem;
    color: var(--white);
    margin-left: 2rem;
}

.contact__presentation p{
    font-size: 1rem;
    color: var(--white);
}

.contact__presentation h2{
    color: var(--white);
}

.contact__telf, .contact__email{
    font-weight: 600;
    padding-top: 1rem;
}
.contact__chat{
    color:#001A49;
    font-weight: 800;
    padding-top: 1rem;
}

.contact__title{
    text-align: left;
    font-size: 1.2rem;
}

.sub__subtitle{
    padding-bottom: 1rem;
}

.contact__form{
    margin-bottom: 4rem;
    display: flex;
    margin-right: 2rem;
}

.footer__inputs--contact{
    padding: 5rem;
    width: 100%;
    text-align: right;
    width: 600px;
}

.footer__input--contact{
    width: 100%;
    margin-top: 1rem;
}

.footer__submit--contact{
    margin-top:1rem;
    border-radius: 30px;
    text-align: center;
}

/*media querie contact us*/
@media (max-width:550px){
    .footer__input--contact{
        width: 300px;
    }
    .footer__submit--contact{
        margin-right: 6rem;
}
}

@media (max-width:400px){
    .footer__input--contact{
        width: 200px;
    }
}
